<% content_for(:title, @post.tittle)%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @post.tittle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>


<h2> 
  <%= link_to "Comments", "#", id:"comments-link" %>
</h2>

<section id="comments-section">
  <ol id="comments">
    <%= render @post.comments %>
  </ol>
  <br>
  <%= render 'comments/form' %>
</section>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
